@import 'tailwindcss';

@theme {
  --color-black: #0f1109;
  --color-white: #d7dcd0;
  --color-green: #3c4b35;
  --color-blue: #2d7dd2;
  --color-pink: #ff5964;

  --font-sans: InterVariable, sans-serif;
  --font-mono: 'Martian Mono', sans-serif;

  --animate-loop-scroll: loop-scroll 200s linear infinite;
  --animate-loop-fast-scroll: loop-scroll 50s linear infinite;
  @keyframes loop-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.paused {
  animation-play-state: paused;
}
