@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--color-black: #0f1109;
	--color-white: #d7dcd0;
	--color-green: #3c4b35;
	--color-pink: #f7b4c6;

	--font-sans: 'Inter', sans-serif;
}
